<div class="center-container">
  <div class="container">
    <ng-container *ngIf="listPeople; else noPeople">
      <h2>List of people</h2>
      <div id="table-wrapper">
        <div id="table-scroll">
          <table class="table spaced-table">
            <thead>
              <tr>
                <th>DNI</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email Address</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of people">
                <td>{{ person.dni }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.phoneNumber }}</td>
                <td>{{ person.emailAddress }}</td>
                <td>
                  <button
                    class="upd-del-button"
                    (click)="goToAddUpdate(person)"
                  >
                    Update
                  </button>
                  <button
                    class="upd-del-button"
                    (click)="this.confirmedDeletions.push(person.dni)"
                    *ngIf="!confirmedDeletions.includes(person.dni)"
                  >
                    Delete
                  </button>
                  <div
                    class="button-cont"
                    *ngIf="confirmedDeletions.includes(person.dni)"
                  >
                    <button class="del-button" (click)="confirmDelete(person)">
                      ✔️
                    </button>
                    <button
                      class="cncl-del-button cancel-button"
                      (click)="cancelDelete(person)"
                    >
                      ❌
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="button-container">
        <button
          class="button-cont"
          (click)="goToAddUpdate()"
          style="margin-top: 20px"
        >
          Add new person
        </button>
        <button
          class="button-cont"
          *ngIf="!isSearching"
          (click)="this.isSearching = true"
          style="margin-top: 20px"
        >
          Search by dni
        </button>
        <div class="button-cont" *ngIf="isSearching">
          <input
            type="text"
            placeholder="Enter DNI"
            style="margin-left: 20px"
            [(ngModel)]="dniInput"
          />
          <button class="srch-button" (click)="searchByDni()">✔️</button>
          <button
            class="cncl-srch-button cancel-button"
            (click)="cancelSearch()"
          >
            ❌
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noPeople>
  <div class="no-ppl-container">
    <p>There are no people added.</p>
    <button style="margin-bottom: 15px" (click)="goToAddUpdate()">
      Add a person
    </button>
    <button (click)="logout()" style="background-color: #ff8b97">Logout</button>
  </div>
</ng-template>
